* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.active a {
    background-color: #000;
    color: #fff !important;
}

nav ul li {
    padding: 1.25em;
}

.h-sobre {
    margin: 2rem;
}

.p-sobre {
    margin: 2rem;
    line-height: 1.7rem;
    text-align: justify;
}