* {
    margin: 0;
    line-height: 1.5rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

nav {
    border-bottom: .7px solid #f4e8e8;
    height: 4rem;
}

.active,
.active a {
    background-color: rgb(39, 37, 37);
    color: #fff;
}

main {
    margin: 2rem;
    height: 64vh;
    justify-content: center;
}

main section:first-child img {
    height: 5rem;
}

main section:first-child > div {
    text-align: justify;
    margin-left: 2rem;
}

main section:last-child {
    text-align: justify;
    margin-top: 2rem;
}

nav ul li {
    margin-right: 3rem;
    list-style: none;
    cursor: pointer;
    padding: 1.25em;
}

.dp-row {
    display: flex;
    align-items: center;
}

.dp-column {
    display: flex;
    flex-direction: column;
}

.dp-beteween {
    justify-content: space-between;
}

.dp-spaceAround {
    justify-content: space-around;
}

footer {
    height: 5rem;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgb(39, 37, 37);
}

footer img {
    height: 2rem;
    padding: .5rem;
}

footer p {
    font-size: .8rem;
}